.control {
  border: 2px solid rgb(30, 47, 27);
  display: flex;
  border-radius: 4px;;
  height: max-content;
  justify-content: center;
  align-content: center;

  &_colored {
    background: rgb(250, 250, 0);
  }
}
