.button {
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  background: rgb(30, 47, 27);
  color: rgb(250, 250, 0);
  cursor: pointer;

  &:hover {
    opacity: 0.95;
  }

  &:disabled {
    opacity: 0.5;
  }
}